.loader {
    display:flex;
    justify-content: center;
    align-items: center;

    background-color:#000;

    font-size:40pt;
    font-family: "Arial Black";
    color:#eee;
    letter-spacing: 10px; 

    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:2;
}

#pleasewait {
	font-size: 22pt;
    font-family: "Arial";
}